
/*Шапка*/
.header{
	background: #fff;
	height: 70px;
	line-height: 70px;
	
/*Логотип и ссылки из меню*/
	&__logo-h1,&__link{
		color: #4e4e4e;
		text-transform: uppercase;
		
		font-weight: bold;
		/*убираем подчеркивание*/
		&:hover{
			text-decoration: none;
			color: #1abb9c;
		}
	}
	&__logo-h1{
		font-size: 40px;
	}
	/*Меню шапки*/
	&__nav-right{
		text-align: right;
	}
	/*Ссылки*/
	&__link{
		margin: 0 0 0 21px;

	}
}
/*Слайдер*/
.carousel-inner{
	&__zag{
	color: #fff;
	font-weight: bold;
	font-size: 34px;
	font-family: RobotoBoldCondensed;
	}
	&__zag-opacity{
		color: #a8a8a8;
		font-weight: bold;
		font-family: RobotoBoldCondensed;
		font-size: 29px;
	}
	&__link{
		text-transform: uppercase;
		padding: 17px 20px;
		background: #3f8dbf;
		border-radius: 2px;
		font-size: 14px;

	}
	
}
.carousel-caption{
	line-height: 41px;
	top: 94px;
}

.service{
	padding: 60px 0;
	border-bottom: 1px solid #dcdcdc;
	&__image{
		     width: 92px;
   			 height: 92px;
             line-height: 92px;
             text-align: center;
             margin: 0 0 0 82px;
	}
	&__image-center{
		text-align: center;
	}
	&__zag-h3{
		font-size: 18px;
		color: #4e4e4e;
		font-family: "RobotoSlab-Bold";
		font-weight: bold;
	}
	&__zag-p{
		font-size: 14px;
		font-weight: normal;
		color: #616161;
		font-family: Roboto;

	}
}

/*Класс портфолио*/
.portfolio{
	padding: 60px 0;
	border-top: 1px solid #dcdcdc;
	&__zag{
		margin-bottom: 25px;
	}
	&__zag-bold{
		font-size: 18px;
		color: #4e4e4e;
		font-family: "Roboto Condensed";
		text-transform: uppercase;
	}
	&__overflow{
		overflow: hidden;
	}
	&__slab-bold{
		font-size: 18px;
		color: #4e4e4e;
		font-family: "Roboto Slab";
		font-weight: bold;
	}
	&__slab-opacity{
		font-size: 13px;
		color: #a8a8a8;
		font-family: "Roboto Slab";
		font-weight: normal;
	}
	&__grapha{
		font-size: 14px;
		color: #5c5c5c;
		font-family: "Roboto";
		font-weight: normal;
		line-height: 27px;
	}
}
/*Блок с кавычками*/
.testimonial,.brown{
	padding: 52px 0 50px 0;
	background: #efefef;
	&__zag{
		font-size: 20px;
		color: #a1a1a1;
		font-family: "Roboto Slab";
		font-weight: normal;
		line-height: 30px;
	}
	&__kavichka{
		margin-bottom: 20px;
	}
}

/*Подвал*/
/*Фон подвала*/
.blackfon{
	/*background-image: url(images/footer-bg.png);*/
		background-repeat: no-repeat;
		background-position: center;
		margin: 0 auto;
		text-align: center;
}
.footer{
	&__zag{
		font-size: 18px;
		color: #6c6c6c;
		font-family: "Roboto Condensed";
		text-transform: uppercase;
		margin-bottom: 16px;
	}
	&__grapha{
		font-size: 14px;
		color: #cacaca;
		font-family: "Roboto";
		font-weight: normal;
		line-height: 24px;
	}
	/*Иконки*/
	&__align-left{
		text-align: left;
	}
	&__map-marker{
         margin: 0 14px 10px 0;
	}
	&__phone-alt,&__envelope{
		margin-right: 14px;
	}
}


   
.mrg{
	color: #a89574;
		 float: left;
}

/*Фон футера*/
.image {
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  text-align: center;
}
.image {
  position: relative;
}
.over {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}











/*Цвета блоков сервиса*/
.fiolet{background: #9d9abf;}
.red{background: #d2514b;}
.blue{background: #66a3c6;}
.yellow{background: #e8c04f;}
/*Цвета блоков сервиса*/




























